BOT_TOKEN=
GROUP_ID=

# Para scripts que rodam direto no Ubuntu (Bots)
DB_URL_EXTERNAL=postgresql+psycopg2://airflow:airflow@localhost:5433/airflow

# Para scripts que rodam dentro do Docker (Airflow / gold_load.py)
DB_URL_INTERNAL=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW_UID=1000
